# VScode stuff
.vscode/*
!.vscode/extensions.json

# Build directory
build/*

# LLVM and Clang
**/.cache
**/checks.json

# Compile Commands
*/compile_commands.json
*/.clangd

# Trajectory files
**/.csv

# Python cache
**/.pyc